* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.medium-screen {
    display: none;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 100%;
}

.flex-justify {
    justify-content: space-between;
}
.hdr-heading {
    display: none;
}

.nav-icon {
    display: flex;
    padding-right: 20px;
}
.nav-icon__img {
    border-left: 1px solid #555;
    border-right: 1px solid #555; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    padding: 0 7px 0 15px;
}
.nav-icon img { 
    width: 42px;
    height: 42px;
    display: block;
    padding: 12px 10px 0 0;
}
              
.menu-icon {
    margin-top: 13px;
    margin-left: 25px;
}
.menu-icon div {
    width: 25px;
    height: 3px;
    margin: 0;
    background-color: #f42;
}

/*==================================== 
Main section: Highlights
======================================*/

.highlights {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    min-height: 738px;
}

.high-1, .high-2, .high-3 {
    width: 100%;
    min-height: 238px;
    margin: 5px 0;
    color: #ffffff;
    justify-content: unset;
    color: w;
    width: 9;
}

.high-1 {
    background-image: url(images/brainstorm-1-796x417.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 0;  
}

.high-2 {
    background-image: url(images/iOS-Reachability-796x416.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: relative;
}

.high-3 {
    background-image: url(images/Untitled-design18-796x417.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: relative;
}

.highlights a {
    text-decoration: none;
    color: white;
}

.highlights ul {
    list-style: none;
    display: flex;
}

.highlights li {
    color: #A19B9B;
}

.highlights li a {
    color: #A19B9B;
}

.logo-attached {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.date {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.black-gradient {
    background: linear-gradient(370deg, rgba(0,0,0,1), rgba(255,255,255,0));
    position: absolute;
    width: 100%;
    height: 100%;
}

.high-article {
    display: block;
    position: relative;
    width: 97%;
    margin: 0 auto;
}

.high-article h3 {
    font-family: "oxanium", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0;
}

.high-article h1 {
    font-family: "poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.0em;
    margin: 0;
}

.high-article h6 {
    color: #AA9B9C;
    font-family: "raleway", 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
}

.high-article-small {
    display: block;
    position: relative;
    width: 97%;
    margin: 0 auto;
}

.high-article-small h3 {
    font-family: "oxanium", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0;
}

.high-article-small h1 {
    font-family: "poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.0em;
    margin: 0;
}

.high-article-small h6 {
    color: #AA9B9C;
    font-family: "raleway", 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
}

/*=================================================== 
LATEST NEWS 
=====================================================*/
.news-container,
.apps-container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Sen', sans-serif;
}

.col, 
.col-sm-2 {
    width: 100%;
    margin: 10px;
}
.col-sm-1 {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.col-sm-screen {
    display: flex;
}
.col-sm-screen__img {
    min-width: 22%;
    height: 110px;
}
.col-sm-screen img {
    width: 100%;
    height: 100%;
}
.col-sm-screen__txt h2 {
    font-size: 1.7rem;
}

.col-sm-screen__txt {
    width: 78%;
    padding: 10px;
}
.col-sm-screen__txt p {
    color: #555555;
    font-size: 1.3rem;
    margin: 7px 0;
}
.col-sm__date {
    padding-left: 5px;
}
.news-container-hdr {
    font-family: 'Sen', sans-serif;
    margin-left: 10px;
    font-size: 2.8rem;
    color: #FF4422;
    font-weight: 800;
}
.col-sm__bgimg,
.col-sm__bgimg2,
.col-sm__bgimg3,
.col-sm__bgimg4,
.col-sm__bgimg5,
.col-sm__bgimg6,
.col-sm__bgimg7,
.col-sm__bgimg8 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.col-sm__bgimg {
    background-image: url(images/img1.jpg);   
}
.col-sm__bgimg2 {
    background-image: url(images/img2.PNG);   
}
.col-sm__bgimg3 {
    background-image: url(images/img3.PNG);   
}
.col-sm__bgimg4 {
    background-image: url(images/img4.PNG);   
}
.col-sm__bgimg5 {
    background-image: url(images/img5.PNG);   
}
.col-sm__bgimg6 {
    background-image: url(images/img6.PNG);   
}
.col-sm__bgimg7 {
    background-image: url(images/img7.PNG);   
}
.col-sm__bgimg8 {
    background-image: url(images/img1.PNG);   
}
/*===================================================
Funding rounds
=====================================================*/

.funding-cont {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 24em;
    padding: 0 10px;
}

.funding-header {
    color: #FF4422;
    min-height: 12.2em;
    
}

.funding-header h2 {
    font-family: "poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    /* margin-bottom: 0em; */
}

.funding-header ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1em;
}

.funding-header ul li {
    padding-top: 1.1em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}

.funding-header ul li:last-child {
    /* margin-bottom: 2em; */
}

.funding-article-cont {
    min-height: 23em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.funding-article-header {
    display: flex;
    flex-direction: column;
    min-height: 10.2em;
}

.funding-article-header-title {
    FONT-WEIGHT: 500;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    width: 100%;
    min-height: 43px;
    background-color: #FF4422;
}

.funding-article-header-title span {
    padding-left: 4.6em;
}

.funding-article-header-subtitle {
    
min-height: 5.9em;
    
background-color: #FFEBE8;
    
display: flex;
    
flex-direction: column;
    
padding-left: 8.4em;
    
justify-content: center;

}

.funding-article-header-subtitle-money {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0.1em;
    
}

.funding-article-header-subtitle-series {
    font-family: "oxanium", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    opacity: 0.8;
}

.funding-logo  img {
    width: 6em;
    height: 6em;
    position: absolute;
    top: 1em;
    left: 1em;
}

.funding-article-content {
    min-height: 12.7em;
    padding-bottom: 1.6em;
}


.funding-article-data {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    font-family: helvetica, Arial, sans-serif;
    background-color: #FFFAF8;
    min-height: 8.2em;
    padding-left: 1.5em;
    justify-content: space-evenly;
}

.funding-article-data i {
    opacity: 1;
    font-size: 1.2em;
}

.funding-article-data h8 {
    opacity: 0.8;
    padding-left: 0.4em;
}



.funding-article-description {
    display: flex;
    background-color: #FFFAF8;
    min-height: 4.5em;
    border-top: 1px solid #FFCCC3;
    padding-left: 1.5em;
    font-family: helvetica, Arial, sans-serif;
    font-size: 1.2em;
    opacity: 0.9;
}

.funding-article-description span {
    opacity: 0.5;
}

.extra-funding-article-cont {
    display: none;
}

/*=================================== 
APPS CONTAINER 
=====================================*/
.app-margin {
    margin: 20px 45px;
}
.apps-container__img {
    width: 100%;
    position: relative;
}
.apps-container__hdr {
    font-size: 3rem;
    font-weight: 700;
}
.apps-container__hdr a,
.container__title--text h2 a {
    color: #f42;
    text-decoration: none;
}
.container__title--text h2 {
    color: #f42;
}
.apps-container__img img, 
.apps-container__title img {
    width: 100%;
    height: 100%;
}
.apps-container ul {
    margin: 0 0 0 10px;
    padding: 0;
}
.container__title--text {
    width: 70%;
}
.container__title--img {
    width: 30%;
}
.container__list--li {
    list-style: none;
}
.container__list--li::before {
    content: "\2022";  
    color: #f42 !important;
    font-weight: bold;
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}
.apps-container__title  {
    width: 100%;
    display: flex;
    padding-left: 15px;
    justify-content: space-around;
    background-color: rgba(255,68,34,.06);
}
.container__list--li a {
    color: #555555;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2;
}
.container__img--top {
    position: absolute;
    top: 0;
    background: linear-gradient(370deg, rgba(0,0,0,0.7), rgba(255,255,255,0));
    width: 100%;
    height: 100%;
}
.container__img--top div {
    bottom: 2px;
    left: 10px;
    position: absolute;
}
.container__img--top h3 {
    color: #ffffff;
    line-height: 1.6;
}
.container__img--top h3 a {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}

.container__date {
    font-size: 1.3rem;
    color: #AA9B9C;
}
.container__date a {
    color: #AA9B9C;
    text-decoration: none;
}
.container__img--top h3 a:hover {
    text-decoration: underline;
    transition: .4s;
}
.container__date a:hover {
    color: #ffffff;
    transition: .4s;
}
.container__list--li a:hover {
    color: #000000;
    transition: .4s;
}


/*============================= 
Medium devices (landscape tablets, 768px and up) 
===============================*/
@media only screen and (min-width: 768px) {
    .small-screen {
        display: none;
    }
    .medium-screen {
        display: block;
    }
    .flexbox-1 {
        width: 100%;
        height: 100%;
    }
    .flexbox-1__box {
        display: flex;
    }
    .box-1 {
        width: 15%;
        display: block;
    }
    .box-1 div {
        background-image: url(images/logo.PNG);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0 -1.5px;
        width: 100%;
        height: 100%;
    }
    .box-2 {
        width: 85%;
    }
    .header-wrapper-1 {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        font-size: 1.4rem;
        width: 100%;
        background-color: #000000;
        font-family: Arial, Helvetica, sans-serif;
    }
    .header-wrapper-1 ul {
        margin: 5px;
        padding: 3px 0;
    }
    .header-wrapper-2 ul {
        margin: 5px;
        padding: 7px 0;
    }
    .header-wrapper-1 ul li,
    .header-wrapper-2 ul li {
        display: inline;
        padding-left: 10px;
    }
    .header-wrapper-1 ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255, 0.6);
    }
    .active {
        color: #ffffff !important;
    }
    .header-wrapper-2 {
        width: 100%;
        box-shadow: 0 0 32px rgba(0,0,0,.15);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        font-size: 1.3rem;
        padding-right: 10px;
        text-transform: uppercase;
        line-height: 1.6;
        color: #aaaaaa;
    }

    .flexbox-2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #f1c40f; 
        font-family: Arial, Helvetica, sans-serif;  
    }
    .flexbox-2 > a {
        font-size: 1.4rem;
        padding: 4px 0 4px 143px;
        line-height: 1.6;
        color: #000000;
        text-decoration: none;
    }
    .header-icon__img {
        padding-top: 15px;
        border-left: 1px solid #A19B9B;
        padding-left: 15px;
    }
    .header-icon__img img {
        width: 25px;
    }
    .header-wrapper-1 ul li a:hover {
        color: rgb(255, 255, 255, 0.9);
        transition: color .4s;
    }

    .high-article h1 {
        font-size: 5em;
        line-height: 1;
    }

    .high-article h6 {
        margin-top: 1em;
    }

    /*================================= 
    Main section: Highlights 
    ===================================*/

    .highlights {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 480px;
        justify-content: space-around;
    }

    .high-left {
        width: 69%;
    }

    .high-right {
        width: 29%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
    }

    .high-2 {
        display: flex;
        width: 100%;
        height: 45%;
        margin-bottom: 5px;
    }

    .high-3 {
        display: flex;
        width: 100%;
        height: 50%;
        margin-top: 5px;
        margin-bottom: 0;
    }  
    
    /*===================================== 
    Latest News 
    =======================================*/
    .news-container {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        width: calc(33.3333% - 20px);
        margin: 10px;
    }
    
    .col-sm-1 {
        padding: 5px;
    }
    .col-sm-screen {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .col-sm-screen__img {
        width: 100%;
        height: 100%;
    }
    .col-sm-screen img {
        width: 100%;
        height: 100%;
    }
    .col-sm-screen__txt h2 {
        font-size: 1.7rem;
        margin: 2px 0;
    }
    .col-sm-screen__txt {
        width: 100%;
        padding:5px 0;
        text-align: justify;
    }
    .col-sm__bgimg,
    .col-sm__bgimg2,
    .col-sm__bgimg3,
    .col-sm__bgimg4,
    .col-sm__bgimg5,
    .col-sm__bgimg6,
    .col-sm__bgimg7,
    .col-sm__bgimg8 {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 160px;
    }

    /* Funding rounds */

    .funding-header ul {

        font-size: 1.2em;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .funding-header ul li {
        float: left;
        margin: 0 1em;
        margin: 0;
        padding: 0;
    }

    .funding-header ul li:first-child {
        border-right: 1px solid #FF4422;
        padding-right: 1em;
    }

    .funding-header ul li:nth-child(2) {
        padding: 0 1em;
    }

    .funding-header ul li:last-child {
        border-left: 1px solid #FF4422;
        padding-left: 1em;
    }

    .funding-article-wrap {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 2em;
        position: relative;
    }

    

    .funding-article-cont {
        min-height: 23em;
        display: flex;
        flex-direction: column;
    }

    .extra-funding-article-cont {
        display: none;
    }

    /*======================================== 
    APPS CONTAINER 
    ==========================================*/
    .col-sm-2 {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

/*============================= 
Large devices (laptops/desktops, 1024px and up) 
===============================*/
@media only screen and (min-width: 1024px) {
    .small-screen {
        display: none;
    }

    .medium-screen {
        display: block;
    }

    .box-1 {
        width: 15%;
        display: none;
    }
    .box-2 {
        width: 100%;
        display: block
    }
    .flexbox-2 > a {
        font-size: 1.4rem;
        padding: 4px 0 4px 15px;
        line-height: 1.6;
        color: #000000;
        text-decoration: none;
    }

    .logo-attached {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        background: linear-gradient(160deg, rgba(255,0,0,0.6), rgba(255,0,0,0));
    }

    .logo-attached img {
        position: absolute;
        width: 50%;
        top: 1em;
        left: 1em;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 50px;
    }

    .col {
        width: calc(25% - 20px);
        margin: 10px;
    }
    .col-sm-1 {
        padding: 5px;
    }
    .news-container-hdr {
        margin-left: 60px;
        margin-right: 60px;
    }

    /* funding rounds */

    .funding-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 2.4em;
        margin-top: 2.4em;
    }

    .funding-header h2 {
        margin: 0;
    }

    .funding-header ul li{
        font-size: 1.3em;
    }

    .funding-article-wrap {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 2em;
        position: relative;
    }

    .extra-funding-article-cont {
        display: flex;
    }
    


    /*==================================== 
    APPS CONTAINER 
    ======================================*/
    .col-sm-2 {
        width: calc(33.3333% - 20px);
        margin: 10px;
    }

}

/*============================= 
Extra large devices (large laptops and desktops, 1200px and up) 
===============================*/
@media only screen and (min-width: 1200px) {
    .small-screen {
        display: none;
    }

    .medium-screen {
        display: block;
    }

    .box-1 {
        width: 15%;
        display: none;
    }
    .box-2 {
        width: 100%;
        display: block
    }
    .flexbox-2 > a {
        font-size: 1.4rem;
        padding: 4px 0 4px 15px;
        line-height: 1.6;
        color: #000000;
        text-decoration: none;
    }
    .header-icon__img {
        padding-right: 15px;
    }

}
