* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.medium-screen {
    display: none;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 100%;
}

.flex-justify {
    justify-content: space-between;
}

.nav-icon {
    display: flex;
    padding-right: 20px;
}
.nav-icon__img {
    border-left: 1px solid #555;
    border-right: 1px solid #555; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    padding: 0 7px 0 15px;
}
.nav-icon img { 
    width: 42px;
    height: 42px;
    display: block;
    padding: 12px 10px 0 0;
}
              
.menu-icon {
    margin-top: 13px;
    margin-left: 25px;
}
.menu-icon div {
    width: 25px;
    height: 3px;
    margin: 0;
    background-color: #f42;
}

/*==================================== 
Main section: Highlights
======================================*/

.highlights {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    min-height: 738px;
}

.high-1, .high-2, .high-3 {
    width: 100%;
    min-height: 238px;
    margin: 5px 0;
    color: #ffffff;
    justify-content: unset;
    color: w;
    width: 9;
}

.high-1 {
    background-image: url(images/brainstorm-1-796x417.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 0;  
}

.high-2 {
    background-image: url(images/iOS-Reachability-796x416.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: relative;
}

.high-3 {
    background-image: url(images/Untitled-design18-796x417.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: relative;
}

.highlights a {
    text-decoration: none;
    color: white;
}

.highlights ul {
    list-style: none;
    display: flex;
}

.highlights li {
    color: #A19B9B;
}

.highlights li a {
    color: #A19B9B;
}

.logo-attached {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.date {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.black-gradient {
    background: linear-gradient(370deg, rgba(0,0,0,1), rgba(255,255,255,0));
    position: absolute;
    width: 100%;
    height: 100%;
}

.high-article {
    display: block;
    position: relative;
    width: 97%;
    margin: 0 auto;
}

.high-article h3 {
    font-family: "oxanium", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0;
}

.high-article h1 {
    font-family: "poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.0em;
    margin: 0;
}

.high-article h6 {
    color: #AA9B9C;
    font-family: "raleway", 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
}

.high-article-small {
    display: block;
    position: relative;
    width: 97%;
    margin: 0 auto;
}

.high-article-small h3 {
    font-family: "oxanium", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0;
}

.high-article-small h1 {
    font-family: "poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.0em;
    margin: 0;
}

.high-article-small h6 {
    color: #AA9B9C;
    font-family: "raleway", 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
}

/*=================================================== 
LATEST NEWS 
=====================================================*/

.news-container {
    display: block;
    /* width: 100%; */
}

.col-1 {
    border: 1px solid #000000;
}
 
/*============================= 
Small devices (portrait tablets and large phones, 600px and up) 
===============================*/
@media only screen and (min-width: 600px) {

    /*================================ 
    Main section: Highlights
    ==================================*/
    
}

/*============================= 
Medium devices (landscape tablets, 768px and up) 
===============================*/
@media only screen and (min-width: 768px) {
    .small-screen {
        display: none;
    }
    .medium-screen {
        display: block;
    }
    .flexbox-1 {
        width: 100%;
        height: 100%;
    }
    .flexbox-1__box {
        display: flex;
    }
    .box-1 {
        width: 15%;
        display: block;
    }
    .box-1 div {
        background-image: url(images/logo.PNG);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0 -1.5px;
        width: 100%;
        height: 100%;
    }
    .box-2 {
        width: 85%;
    }
    .header-wrapper-1 {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        font-size: 1.4rem;
        width: 100%;
        background-color: #000000;
        font-family: Arial, Helvetica, sans-serif;
    }
    .header-wrapper-1 ul {
        margin: 5px;
        padding: 3px 0;
    }
    .header-wrapper-2 ul {
        margin: 5px;
        padding: 7px 0;
    }
    .header-wrapper-1 ul li,
    .header-wrapper-2 ul li {
        display: inline;
        padding-left: 10px;
    }
    .header-wrapper-1 ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255, 0.6);
    }
    .active {
        color: #ffffff !important;
    }
    .header-wrapper-2 {
        width: 100%;
        box-shadow: 0 0 32px rgba(0,0,0,.15);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        font-size: 1.3rem;
        padding-right: 10px;
        text-transform: uppercase;
        line-height: 1.6;
        color: #aaaaaa;
    }

    .flexbox-2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #f1c40f; 
        font-family: Arial, Helvetica, sans-serif;  
    }
    .flexbox-2 > a {
        font-size: 1.4rem;
        padding: 4px 0 4px 143px;
        line-height: 1.6;
        color: #000000;
        text-decoration: none;
    }
    .header-icon__img {
        padding-top: 15px;
        border-left: 1px solid #A19B9B;
        padding-left: 15px;
    }
    .header-icon__img img {
        width: 25px;
    }
    .header-wrapper-1 ul li a:hover {
        color: rgb(255, 255, 255, 0.9);
        transition: color .4s;
    }

    .high-article h1 {
        font-size: 5em;
        line-height: 1;
    }

    .high-article h6 {
        margin-top: 1em;
    }

    /*================================= 
    Main section: Highlights 
    ===================================*/

    .highlights {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 480px;
        justify-content: space-around;
    }

    .high-left {
        width: 69%;
    }

    .high-right {
        width: 29%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
    }

    .high-2 {
        display: flex;
        width: 100%;
        height: 45%;
        margin-bottom: 5px;
    }

    .high-3 {
        display: flex;
        width: 100%;
        height: 50%;
        margin-top: 5px;
        margin-bottom: 0;
    }  
    
    /*===================================== 
    Latest News 
    =======================================*/
    .news-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .col-1 {
        width: 33.33%;
        border: 1px solid #000000;
    }
      
}

/*============================= 
Large devices (laptops/desktops, 992px and up) 
===============================*/
@media only screen and (min-width: 992px) {
    .small-screen {
        display: none;
    }

    .medium-screen {
        display: block;
    }

    .box-1 {
        width: 15%;
        display: none;
    }
    .box-2 {
        width: 100%;
        display: block
    }
    .flexbox-2 > a {
        font-size: 1.4rem;
        padding: 4px 0 4px 15px;
        line-height: 1.6;
        color: #000000;
        text-decoration: none;
    }

    .logo-attached {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        background: linear-gradient(160deg, rgba(255,0,0,0.6), rgba(255,0,0,0));
    }

    .logo-attached img {
        position: absolute;
        width: 50%;
        top: 1em;
        left: 1em;
    }

    .news-container {
        display: flex;
        justify-content: center; 
        width: 100%;
    }
    
    .col-1 {
        width: 25%;
        border: 1px solid #000000;
    }
}

/*============================= 
Extra large devices (large laptops and desktops, 1200px and up) 
===============================*/
@media only screen and (min-width: 1200px) {
    .small-screen {
        display: none;
    }

    .medium-screen {
        display: block;
    }

    .box-1 {
        width: 15%;
        display: none;
    }
    .box-2 {
        width: 100%;
        display: block
    }
    .flexbox-2 > a {
        font-size: 1.4rem;
        padding: 4px 0 4px 15px;
        line-height: 1.6;
        color: #000000;
        text-decoration: none;
    }
    .header-icon__img {
        padding-right: 15px;
    }

    /* .news-container__inner {
        width: 25%;
        border: 1px solid #000000;
    } */
}
